<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Web Page Project</title>


    <link href="css/styles.css" type="text/css" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
    
    <body>
    <header>
        <h1>Our Cloud9 Project Website</h1>
        <h3>Creating a Node.js Hello World app!</h3>
        
       <nav>
        <ul>
                <li><a href="/">HOME COUNTRIES LIST</a></li>
                    <li><a href="intro.html">INTRO</a></li>
                    <li><a href="about.html">HISTORY</a></li>
                    <li><a href="why.html">WHY USE NODE.JS?</a></li>
                    <li><a href="tutorial.html">HELLO WORLD</a></li>
                
            </ul>
            </nav> 
    
    </header>

    <div id="wrapper">
        
    <main>
        
        <h1>Hello to the countries app</h1>
        <p>You can browse all the list, look for specific country, delete specific country, or add new country!</p>

        <h2>Countries</h2>
         
        

            <!-- To display all -->
            <div class="container">
        <h4>Display All:</h4>
    <form method="GET" action="/all">
    <div class="row">
             <a href="http://localhost:3000/all">Disply All</a>
   </div>
</form>


 <!-- To search for country -->
 <div class="container">
    <h3> Look for specific country:</h3>
            <form method="GET" action="/detail">
                <div class="row">
                <div class="col-25">
                <label for="country">Country:   </label>
                </div>
                <div class="col-75">
                <input type="text" name="name" placeholder="Country" required maxlength="100">
            </div>
            </div>   
        <div class="row">
                <button>DETAIL</button>      
       </div>
       </form>
       </div>

   <!-- To  delete country -->
   <div class="container">
<h3> Delete specific country:</h3>
<form method="GET" action="/delete">
    <div class="row">
    <div class="col-25">
    <label for="country">Country:   </label>
    </div>
    <div class="col-75">
    <input type="text" name="name" placeholder="Country" required maxlength="100">
</div>
</div>   
<div class="row">
    <button>DELETE</button>      
</div>
</form>
</div>
        
  
<!-- To  add country -->
<div class="container">
        <h3> Add country:</h3>
        <form method="GET" action="/add">
            <div class="row">
            <div class="col-25">
            <label for="country">Country:   </label>
            </div>
            <div class="col-75">
            <input type="text" name="name" placeholder="Country" required maxlength="100">
        </div>
        </div>
        <div class="row">
        <div class="col-25">
            <label for="language">Language:   </label>
            </div>
            <div class="col-75">
            <input type="text" name="language" placeholder="Language" maxlength="100">
        </div>
    </div> 
    <div class="row">
      <div class="col-25">
            <label for="population">Population:   </label>
        </div>
        <div class="col-75">
            <input type="text" name="population" placeholder="Population" maxlength="100">
        </div>
    </div> 
        <div class="row">
            <button>ADD</button>      
        </div>
        </form>
        </div>
         

    
    </main>
    
    <aside>
        <img src="./images/home-logo.png" alt="nodejs logo">  
        
    </aside>
    <aside> 
        <h3>Countries List:</h3>
        {{#if countries.length}}
            <table>
                    <tr>
                      <th>Country</th>
                      <th>Language</th>
                      <th>Population</th>
                    </tr>
            {{#each countries}}
            <tr>
                    <td>{{name}}</td>
                    <td>{{language}}</td>
                    <td>{{population}}</td>
                  </tr>
            {{/each}}
        </table>
            {{else}}
            <h3> Sorry Empty list</h3>
                {{/if}}      
    </aside>

    <footer>
        <hr>
        <ul>
            <li>Copyright 2019 &copy;</li>
            <li>All Rights Reserved</li>
            <li><a href="/">Web Design by ITC134 Team group</a></li>
            <li><a href="https://validator.w3.org/check?uri=referer"><img src="/images/html5.png" alt="HTML5 Logo"></a></li>
        </ul>
    </footer>
    
    </div> <!--end of wrapper-->
   
</body>
<script>
    $(document).ready(function(){
        var buttons = $('button');
        
        buttons.on('click', function() {
            var $this = $(this);
            $("form").attr("action", $this.text().toLowerCase());
        });
    });
</script>
</html>


